<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Favorecido</th>
            <th>Conta</th>
            <th>Categoria</th>
            <th>Data</th>
            <th class="text-center">Valor</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody id="tb_category">
    <% @transactions.each do |t| %>
        <tr id='<%= t.id %>'>
            <td><%= t.id %></td>
            <td><%= t.favored %></td>
            <td><%= t.account.name %></td>
            <td><%= t.category.name %></td>
            <td><%= l t.date_transaction %></td>
            <td class="text-right">
                <% if t.type_transaction == 'expense' %>
                    <i class="fa fa-minus-circle"></i>
                <% else %>
                    <i class="fa fa-plus-circle"></i>
                <%  end %>
            <%= humanized_money_with_symbol t.value %></td>
            <td class="text-right">
            <%= link_to edit_transaction_path(t), class:"btn btn-primary btn-circle" do %>
            <i class="fa fa-list"></i>
            <% end%>
            <%= link_to transaction_path(t), remote:true ,data: {confirm: ' Vc realmente deseja excluir essa transação'}, method: :delete ,class:"btn btn-danger btn-circle" do %>
            <i class="fa fa-times"></i>
            <% end%>
            </td>
        </tr>
    <% end %>
    <tr >
        <td >Total:</td>
        <td colspan="4"></td>
        <td class="text-right"><%= humanized_money_with_symbol sum_transacation @transactions %></td>
        <td ></td>
    </tr>
    </tbody>
</table>
<%= navigation_months(@month) %>