
<h1 class="page-header">Contas
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary  pull-right" data-toggle="modal" data-target="#myModal">
    Nova Conta
</button>
</h1>

<div class="row">
<% @accounts.each do |account| %>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-<% if  account.bank? %>primary <% else %>danger<%end %>">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa <% if  account.bank? %>fa-bank <% else %>fa-credit-card  <%end %>fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><%=  account.account_type_i18n%></div>
                            <div><%= account.name %></div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left"><%= humanized_money_with_symbol  account.balance  %></span>
                        <span class="pull-right">
                        <%= link_to account_path(account), remote: true  do %>
                              <span class="pull-right" style="margin-right: 5px;">
                                        <i class="fa fa-arrow-circle-right"></i></span>
                              </span>
                        <% end %>


                       <%= link_to account_path(account), method: :delete, remote: true, data: {confirm: ' Vc realmente deseja excluir a conta  account.name'}  do %>
                              <span class="pull-right" style="margin-right: 5px;">
                                        <i class="fa fa-trash-o"></i>
                              </span>
                        <%  end %>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
<% end %>
</div>
<%=  render partial: '/accounts/shared/form' %>
<%=  render partial: '/layouts/shared/notifications' %>
